<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>作成したWebアプリケーション</title>
</head>
<body>
    <h2>Webアプリケーション一覧</h2>
  <ul>
    <li><a href="/baki">刃牙 シリーズ</a></li>
    <li><a href="/zelda">ゼルダの伝説 シリーズ</a></li>
    <li><a href="/mg">メタルギア シリーズ</a></li>
  </ul>
</body>
</html>